<div class="upper_horizontal_line">
  <hr/>
  </div>

  <div class='nav-container'>
      <div class='nav-left-section'>

        <div class='logo-text-container'> <div class="image_logo">
          <img  src="https://images.all-free-download.com/images/graphiclarge/yin_yang_symbol_black_round_sticker_311430.jpg" style="width:58px;height:58px">
        </div>
        <div class='image-text'><p class="text_with_logo">
          I am a designer and art-director<br> form New-york
        </p></div></div>
    
      <div class='tiny-nav-container'>
        
          <ul id="horizontal-list">
            <li class="li_1">ALL</li>
            <li class="li_2">DIGITAL</li>
            <li class="li_2">WEB</li>
            <li class="li_2">PRINT</li>
          </ul>
        
      </div>
      </div>
  
      <div class='nav-right-section'>

        <div class="button-nav-container">
         
            <ul id="horizontal-list-1">
              <li><a [routerLink]="['/']" routerLinkActive='nav-active' [routerLinkActiveOptions]="{exact: true}" >MAIN</a>
              </li>
              <li> <a [routerLink]="['/about']" routerLinkActive='nav-active' >ABOUT</a>
              </li>
              <li> <a [routerLink]="['/contact']" routerLinkActive='nav-active' >CONTACTS</a>
              </li>
            </ul>
          
        </div>
      </div>
    </div>    
   
  <div class="horizontal-line-2">
  <div class='thin-hr'></div>
  </div>